# Python
__pycache__
*.pyc
*.pyo
*.pyd

# Env & Git
.env
.git
.gitignore

# Node / Frontend
node_modules
frontend/node_modules

# App data (VERY IMPORTANT)
data
uploads
processed
chunks
quizzes
vector_index

# OS junk
.DS_Store
Thumbs.db
